<div class="header">
  <div class="container clearfix">
    <ul class="nav">

      <li class="current"><a href="{{ site.baseurl }}/index.html">Blog</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    </ul>
  </div>
  <a href="{{ site.baseurl }}/" class="logo">R</a>
</div>
