.blog-banner {
  height:800px;
  background-size: cover;
  margin-top: -50px;
}
.blog-wrapper {
  width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  letter-spacing: .01rem;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
}
.post-title {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: rgba(0,0,0,0.8);
  letter-spacing: -0.02em;
  line-height: 1;
  margin-left: -3px;
}
.author-date {
  color: rgba(0,0,0,0.44);
  line-height: 1;
  margin-bottom: 40px;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
.post-nav-left {
  float: left;
}
.post-nav-right {
  float: right;
}

