---
layout: default
---
 <div class="blog-banner" style="background-image: url('{{ page.banner-url }}');">
</div>
<div class="clearfix blog-wrapper">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="author-date">
    {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
  </div>
  <article class="post-content">
    {{ content }}
  </article>
  <nav>
    {% if page.previous %}
    <div class="post-nav-left">
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous Post</a>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="post-nav-right">
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next Post &rarr;</a>
    </div>
    {% endif %}
  </nav>
</div>





